.footerContainer {
  width: 100%;
  padding: 1rem;
  background: rgb(224, 223, 223);
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
