.listingPage {
  width: 90%;
  gap: 1.5rem;
  position: relative;
  box-sizing: border-box;
  display: grid;
  padding: 1rem;
  padding-bottom: 100px;
  gap: 2rem;
}
.propertyNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  font-size: 40px;
  font-weight: 600;
}
.lisitingType {
  display: grid;
  gap: 1rem;
}
.lisitingType .title {
  font-size: 24px;
}
.lochostDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.locHost {
  display: flex;
  align-items: center;
  gap: 20px;
}

.policy {
  display: flex;
  align-items: center;
  gap: 10px;
}
.policy::first-letter {
  text-transform: capitalize;
}
.locHost .location {
  font-weight: 600;
  text-decoration: underline;
}
.shareSave {
  display: flex;
  align-items: center;
  gap: 20px;
}
.shareSave span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.listingImage {
  width: 100%;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  object-fit: contain;
  position: relative;
}
.listingImage img {
  height: 600px;
  object-fit: cover;
  object-position: center;
}
.listingImage::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
}
.listingImage:hover::after {
  opacity: 0.1;
  transition: all ease-in 200ms;
  /* display: block; */
}

.showAll {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 11;
}
.lisitingDescriptions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listingDescontainer {
  width: 60%;
  display: grid;
  gap: 2rem;
  align-items: center;
}
.propertyTitleCon {
  width: 100%;
  display: grid;
  gap: 2rem;
  align-items: center;
  box-shadow: 0 1px 0px 0 gray;
  padding-bottom: 2rem;
}
.listingtitle {
  font-size: 28px;
  font-weight: 500;
}
.propertySpecs {
  display: flex;
  gap: 1rem;
}
.propertySpecs span {
  display: flex;
  align-items: center;

  gap: 5px;
}
.propertySpecs span::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
}
.propertySpecs span:first-child::before {
  width: 0;
}

.lisitnComp {
  width: 100%;
  display: grid;
  gap: 24px;
  padding: 3rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.336);
}
.lisitingHeading {
  font-size: 24px;
  font-weight: 600;
}
.lisitingLists {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.listingItems {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bookingcardContainer {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.bookingcard {
  max-width: 80%;
  width: 400px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgb(156, 152, 152);
  display: grid;
  gap: 1rem;
}
.priceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.totalPrice {
  font-weight: 600;
  font-size: 20px;
}
.dateContainerGuest {
  width: 100%;
  display: grid;
  border: 1px solid gray;
  border-radius: 10px;
}
.dateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}
.checkinCotainer,
.checkoutContainer {
  width: 50%;
  display: grid;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  font-size: 10px;
  gap: 4px;
  font-weight: 600;
}
.checkinCotainer {
  border-right: 1px solid gray;
}
.dateContainer input {
  border: none;
  outline: none;
  font-weight: 300;
}
