.thumbnailContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  row-gap: 3rem;
  position: relative;
  top: 220px;
  box-sizing: border-box;
  padding: 1rem;
  height: fit-content;
  padding-bottom: 100px;
  cursor: pointer;
}
.thumbnailsbody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.imageconatiner {
  width: 300px;
  height: 300px;
  background: rgb(138, 135, 135);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.imageconatiner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.favIcon {
  position: absolute;
  width: 32px;
  padding: 1rem;
  right: 0;
  top: 0;
  color: rgb(182, 182, 182);
  overflow: hidden;
}

/* .icon::before {
  content: "a";
  background-color: aqua;
} */

.thumbDes {
  position: relative;
  display: grid;
  gap: 4px;
}
.star-rental {
  position: absolute;
  top: 0;
  right: 0;
}
.imagebookContainer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 100px;
  height: 120px;
  /* padding: 1rem 0.5rem; */
  background-color: white;
  border-radius: 2px 10px 10px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumbtitle {
  font-weight: 600;
}
.thumbprice {
  width: fit-content;
  font-weight: 600;
  word-spacing: 2px;
  display: flex;
  gap: 5px;
  position: relative;
}
.hostImage {
  width: 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.thumbprice::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: black;
  bottom: 0;
  left: 0;
}
.thumbBeds {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
.hostImage img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}
.line {
  position: absolute;
  background: rgb(189, 189, 189);
  width: 1px;
  height: 100%;
  border: none;
  left: 10%;
  box-shadow: 1px 1px 1px 0 rgb(68, 68, 68);
}

.nolisitingpage {
  /* background-color: aqua; */
  position: relative;
  border-radius: 50%;
  padding: 2rem;
  box-shadow: 0 0 2px 0 gray;
  background-color: azure;
}
.airIcon {
  font-size: 200px;
  color: red;
}
.circleRound {
  width: 110%;

  height: 110%;
  background-color: rgb(245, 234, 234);
  position: absolute;
  left: -5%;
  top: -5%;
  z-index: -1;
  border-radius: 50%;
  overflow: hidden;
  animation: rotate infinite 2s;
}
.red {
  position: absolute;
  top: 0;
  width: 50%;
  height: 50%;
  background-color: brown;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingStatus {
  display: grid;
  place-items: center;
  gap: 2rem;
}
