.thumbnailContainer {
  width: 90%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* background-color: bisque; */
  padding: 1rem;
}
.thumbnailsbody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.imageconatiner {
  width: 200px;
  height: 200px;
  background: rgb(138, 135, 135);
  border-radius: 20px;
  position: relative;
}
.fav-icon {
  position: absolute;
  padding: 1rem;
  right: 0;
  top: 0;
}
.thumbDes {
  position: relative;
}
.star-rental {
  position: absolute;
  top: 0;
  right: 0;
}
