.listingPage {
  width: 90%;
  gap: 1.5rem;
  position: relative;
  box-sizing: border-box;
  display: grid;
  padding: 1rem;

  top: 200px;
  padding-bottom: 100px;
  gap: 2rem;
}
.propertyNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  font-size: 40px;
  font-weight: 600;
}
.lisitingType {
  display: grid;
  gap: 1rem;
}
.lisitingType .title {
  font-size: 24px;
}
.lochostDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.locHost {
  display: flex;
  align-items: center;
  gap: 20px;
}

.policy {
  display: flex;
  align-items: center;
  gap: 10px;
}
.policy::first-letter {
  text-transform: capitalize;
}
.locHost .location {
  font-weight: 600;
  text-decoration: underline;
}
.shareSave {
  display: flex;
  align-items: center;
  gap: 20px;
}
.shareSave span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.listingImage {
  width: 100%;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  object-fit: contain;
  position: relative;
}
.listingImage img {
  height: 600px;
  object-fit: cover;
  object-position: center;
}
.listingImage::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
}
.listingImage:hover::after {
  opacity: 0.1;
  transition: all ease-in 200ms;
  /* display: block; */
}

.showAll {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 11;
}
.lisitingDescriptions {
  width: 60%;
  display: grid;
  gap: 2rem;
  align-items: center;
}
.propertyTitleCon {
  width: 100%;
  display: grid;
  gap: 2rem;
  align-items: center;
  box-shadow: 0 1px 0px 0 gray;
  padding-bottom: 2rem;
}
.listingtitle {
  font-size: 28px;
  font-weight: 500;
}
.propertySpecs {
  display: flex;
  gap: 1rem;
}
.propertySpecs span {
  display: flex;
  align-items: center;

  gap: 5px;
}
.propertySpecs span::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
}
.propertySpecs span:first-child::before {
  width: 0;
}
.amenities {
  display: grid;
  border-bottom: 1px solid gray;
  padding-bottom: 3rem;
  gap: 2rem;
}
.amenitieslist {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  font-weight: 600;
}
.animitiesBtn {
  position: relative;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 8px;
  background-color: white;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 600;
}
.addons {
  border-bottom: 1px solid gray;
  padding-bottom: 3rem;
}
.addonList {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
.addonList span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.lisitnComp {
  width: 100%;
  display: grid;
  gap: 24px;
}
.lisitingHeading {
  font-size: 24px;
  font-weight: 600;
}
.lisitingLists {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.listingItems {
  display: flex;
  align-items: center;
  gap: 8px;
}
